html, body {
    font-family: $font-site;
    font-size: $font-size-default;
}
.bg-top {
    background-image: url('../img/bg_top.png');
    background-repeat: no-repeat;
    background-size: cover;
}