html, body {
    font-family: $font-site;
    font-size: $font-size-default;
}

.section {
    padding: 20px 0;
}

.btn-readmore {
    color: $white;
    border: solid 1px $white;
    padding: 10px 25px;
    opacity: 1;
    text-decoration: none;

    &:hover, &:focus {
        color: $white;
        opacity: .7;
        text-decoration: none;
    }
}

.btn-readmore-1 {
    color: $black;
    border: solid 1px $black;
    padding: 10px 20px;
    opacity: 1;

    &:hover, &:focus {
        opacity: .7;
        text-decoration: none;
    }
}

.cfb-partner {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;

    .cfb-partner__item {
        position: relative;
        margin: 10px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        img {
            max-width: 100%;
        }
    }
}

.cfb-text-italic {
    font-style: italic;
}

.socials {
    > li {
        display: inline-block;
        > a {
            width: 35px;
            text-align: center;
            height: 35px;
            font-size: 14px;
            border-radius: 50%;
            color: $white;
            opacity: 1;
            margin-right: 5px;
            position: relative;

            > i {
                position: absolute;
                left: 0;
            }

            &.fb {
                background-color: $bg-fb;
                i {
                    left: 14px;
                }
            }
            &.twitter {
                background-color: $bg-twitter;
                i {
                    left: 12px;
                }
            }
            &.youtube {
                background-color: $bg-youtube;
                i {
                    left: 10px;
                }
            }
            &.telegram {
                background-color: $bg-telegram;
            }
            &.messenger {
                background-color: $bg-messenger;
            }

            &:hover {
                opacity: .7;
            }
        }
    }
}

.bg-partner {
    background-color: $bg-partner;
}
.bg-default {
    background-color: $white;
}

.cfb-posts-style-1 {
    margin-left: -15px;
    margin-right: -15px;
    > li {
        display: inline-block;
        float: left;
        width: 33%;
        position: relative;
        padding: 10px 5px;
        min-height: 490px;

        &:first-child {
            padding-left: 0;
        }
    }
}

.cfb-posts-style-2 {
    > li {
        margin-bottom: 20px;
        &.top {
            .post-item {
                section {
                    position: relative;
                    .post-item__content {
                        padding: 10px 15px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        a {
                            color: $white;
                            font-weight: 500;
                            line-height: 1.3;
                        }

                        .cfb-info {
                            >li {
                                &:first-child {
                                    > a {
                                        color: $white;
                                        font-weight: normal;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .post-item {
            &.tbl {
                section {
                    display: flex;

                    .post-item__img {
                        width: 30%;
                    }
                    .post-item__content {
                        width: 70%;
                        padding: 0 0 0 10px;

                        a.title {
                            color: $black;
                            font-weight: 500;
                            font-size: 12px;
                        }
                    }
                }

                .cfb-info {
                    padding: 7px 0;
                    font-size: 12px;
                    > li {
                        > a {
                            padding: 0 10px;
                        }

                        &:first-child {
                            > a {
                                padding: 0 10px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cfb-posts-style-3 {
    margin-left: -15px;
    margin-right: -15px;
    > li {
        display: inline-block;
        float: left;
        width: 50%;
        position: relative;
        padding: 10px;
    }
    section {
        display: flex;

        .post-item__img {
            width: 35%;
        }
        .post-item__content {
            width: 65%;
            padding: 0 0 0 10px;

            a.title {
                color: $black;
                font-weight: 600;
            }

            .cfb-info {
                padding: 7px 0;
                font-size: 12px;
                > li {
                    > a {
                        padding: 0 10px;
                    }

                    &:first-child {
                        > a {
                            padding: 0 10px 0 0;
                        }
                    }
                }
            }
        }
    }
}

.cfb-posts-style-4 {
    > li {
        border-style: solid;
        border-color: $color-video-border;
        border-width: 1px 1px 0 1px;
        padding: 10px 20px;

        &:last-child {
            border-width: 1px;
        }

        .post-item {
            header {
                margin-bottom: 10px;
            }
            .post-item__time {
                color: $color-time;
            }

            .title {
                color: $black;
                font-weight: 600;
                line-height: 1.4;
            }
        }
    }
}

article {
    &.post-item {
        position: relative;

        .cfb-info {
            padding: 15px 0;
            > li {
                > a {
                    color: $color-info;
                }

                &:first-child {
                    > a {
                        font-weight: 600;
                    }
                }
            }
        }

        .post-item__title {
            color: $black;
            font-weight: 600;
            font-size: 14px;
            line-height: 1.5;
        }

        .post-item__desc {
            padding: 20px 0;
        }
    }
}

.cfb-info {
    > li {
        display: inline-block;
        > a {
            padding: 0 15px;
            &:hover, &:focus {
                background: transparent;
            }
        }

        &:first-child {
            > a {
                padding: 0 15px 0 0;
            }
        }

        &:not(:first-child) {
            border-left: solid 1px $main-menu-color;
        }
    }
}

.cfb-news__top {
    position: relative;

    .post-item {
        section {
            position: relative;
        }
        .post-item__content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px;

            .title {
                color: $white;
                font-size: 22px;
                line-height: 1.3;

            }

            .cfb-info {
                > li {
                    &:first-child {
                        > a {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.cfb-video {
    .cfb-video__header {
        border: solid 1px $color-video-border;
        padding: 10px 20px;
    }
    .cfb-play {
        width: 40px;
        height: 40px;
        background: $bg-messenger;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        border-radius: 50%;
        opacity: 1;
        i {
            color: $white;
        }

        &:hover {
            opacity: .8;
        }
    }
}

.cfb-video__list {
    margin-top: 20px;
    > li {
        display: inline-block;
        width: 25%;
        padding-left: 20px;
        float: left;

        &:first-child {
            margin-left: -20px;
        }

        &:nth-child(n+2) {
            margin-left: 6px;
        }
    }

    .post-item {
        .post-item__img {
            position: relative;

            .cfb-play {
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
        }
        .title {
            color: $black;
            font-weight: 600;
        }
    }
}

.cfb-heading {
    font-size: 18px;
    text-align: center;
}

h2 {
    &.cfb-heading {
        font-size: 24px;
    }
}

h1 {
    &.cfb-heading {
        font-size: 30px;
    }
}

h1, h2, h3, h4 {
    &.cfb-heading {
        margin: 0;
        height: 50px;
        line-height: 50px;
    }
}

.cfb-newest {
    display: flex;
    position: relative;
    width: 100%;

    .cfb-newest__left {
        width: 65%;
        padding-right: 20px;
        position: relative;

        .cfb-heading {
            text-align: left;
            position: relative;
        }

        .post-item {
            .title {
                color: $black;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.5;
            }

            .post-item__desc {
                color: $color-newest-desc;
            }
        }
    }
    .cfb-newest__right {
        width: 35%;
    }
}

.cfb-slider {
    .slider-buttons {
        background: transparent;
        top: 33%;
        span {
            
        }

        &.next, &.prev {
            span {
                opacity: .7;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .pagination-container {
        display: none;
        opacity: 0;
    }
}

.cfb-subcribe {
    position: relative;
    padding: 20px 30px;

    .cfb-subcribe__heading {
        text-decoration: underline;
        color: $black;
        font-size: 20px;
        text-align: center;
    }

    .cfb-subcribe__desc {
        text-align: center;
        font-style: italic;
        color: $color-subcribe-desc;
        font-size: 14px;
    }

    .cfb-subcribe__form {
        margin-top: 50px;
        margin-bottom: 30px;
        form {
            text-align: center;
        }
        input {
            width: 100%;
            background: transparent;
            border: none;
            outline: none;
            text-align: center;
            border-bottom: solid 2px $border-subcribe;
        }
    }
}


.cfb-banner-portrait {
    position: relative;
    border: solid 1px $color-time;
    min-height: 200px;
    margin-top: 30px;
    img {
        z-index: 10;
    }

    .cfb-btn {
        position: absolute;
        bottom: 20px;
        left: 12%;
    }

}

.cfb-banner-landcape {
    position: relative;
    border: solid 1px $color-time;
    min-height: 80px;
    margin-top: 30px;


    &::before {
        content: 'Banner';
        text-align: center;
        color: $color-footer;
        line-height: 80px;
        margin-left: auto;
    }
}

.tieudiem {
    .cfb-heading {
        text-align: left;
    }
}

.cfb-module {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    .cfb-module__inner {
        display: flex;
        width: 100%;
        align-content: center;
        align-items: center;
    }


    .cfb-module__heading {
        width: 20%;
        .cfb-heading {
            font-size: 48px;
            color: $white;
        }
    }

    .cfb-module__content {
        width: 80%;
        .cfb-module__content-desc {
            width: 60%;
            float: right;
            padding: 25px;
            color: $main-menu-color;
            background-color: rgba(0,0,0,.8);
        }
    }
}

@media only screen and (min-width: $small-screen) {
    .only-mobile {
        display: none;
    }
}

@media only screen and (max-width: $mobile-screen) {
    .only-pc {
        display: none;
    }

    .only-mobile {
        display: block;
    }

    .cfb-newest {
        display: block;

        .cfb-newest__left, .cfb-newest__right {
            width: 100%;
        }

        .cfb-newest__left {
            padding-right: 0;
        }
    }

    .cfb-video__list {
        > li {
            display: block;
            width: 100%;
            float: none;
            padding-left: 0;
            margin-bottom: 30px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .cfb-news__list {
        padding: 15px;
        .cfb-posts-style-3 {
            > li {
                display: block;
                float: none;
                width: 100%;
                padding: 0;
            }
        }
    }

    .cfb-news_con {
        .cfb-posts-style-1 {
            padding: 15px;
            > li {
                float: none;
                display: block;
                width: 100%;
                min-height: auto;
                padding: 0;
            }
        }
    }

    .cfb-heading {
        text-align: left;
    }

    .cfb-partner {
        display: block;
        .cfb-partner__item {
            display: inline-block;
            width: 50%;
            margin: 0;
            float: left;

            &:nth-child(n+3) {
                display: none;
            }
        }
    }
}

.cfb-btn {
    background: $bg-messenger;
    text-align: center;
    color: $white;
    opacity: 1;
    padding: 15px 30px;
    text-transform: uppercase !important;
    margin: auto;

    &:hover {
        color: $white;
        text-decoration: none;
        opacity: .85;
    }
}