.bg-top {
    background-image: url('../img/bg_top.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-category {
    background-image: url('../img/bg_categories.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.cfb-btn-send {
    background-color: $bg-messenger;
    color: $white;
    text-transform: uppercase !important;
    text-align: center;
    padding: 10px 25px;
    border: none;
    opacity: 1;

    &:hover, &:focus {
        opacity: .8;
    }
}

.cfg-list-1 {
    .post-item {
        margin-bottom: 30px;
        .post-item__wrapper {
            display: flex;
            align-items: center;
            align-content: center;

            .post-item__img {
                width: 35%;
            }
            .post-item__content {
                width: 65%;
                padding-left: 15px;
            }

            .title {
                color: $black;
                font-weight: 600;
                font-size: 16px;
            }

            .desc {
                position: relative;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .btn-readmore {
                border: none;
                color: $main-menu-color;   
                padding-left: 0;
            }
        }
    }
}

.cfb-form {
    .form-control {
        border-radius: 1px !important;
    }
}

@media only screen and (max-width: $mobile-screen) {
    .bg-top {
        background-image: url('../img/bg_top_mobile.jpg')
    }
}