$white: #fff;
$black: #000;

$font-site: 'Roboto', 'Times New Roman';
$font-size-default: 13px;

$main-menu-color: rgba(166, 167, 167, 1);
$bg-sub-menu: rgba(38, 38, 38, 1);
$heightOfHeader: 100px;
$heightOfHeaderFixed: 75px;

$color-info: #999999;


$bg-footer: #2f2f2f;
$bg-footer-top: #3e3e3e;
$color-footer: #565656;
$color-video-border: #eeeeee;
$color-time: #bebebe;
$color-newest-desc: #666666;
$color-subcribe-desc: #999;
$border-subcribe: #565656;

$bg-partner: #f6f6f6;

$bg-fb: #4a90e2;
$bg-twitter: #25bbe7;
$bg-youtube: #e73c25;
$bg-telegram: #308fbd;
$bg-messenger: #0038ff;

$bg-progressbar: #eaeaea;
$color-progressbar: #7f7f7f;

$standard-screen: 992px;
$small-screen: 768px;
$mobile-screen: 767px;